body {
  margin: 0;
  background-color: #12141D;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
