body {
  overflow-x: hidden;
  margin: 0;
  background-color: #12141D;
  font-family: 'Inter';
  cursor: url('./assets/svg/cursor.svg'), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent
}
 
::-webkit-scrollbar-thumb {
  background: #1E2028; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2F6AF1; 
}